body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#status {
    text-align: center;
    margin-top: 5px;
    font-size: 0.9em;
    color: #555;
}

canvas {
    max-height: 100%;
    box-sizing: border-box;
}